<div >

  <md-toolbar class="md-primary md-hue-2">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Accounts</h2>
        <md-button class="md-fab md-mini" aria-label="Add" ng-click="accountCtrl.go('/account/new/form')">
            Add
        </md-button>
    </div>
  </md-toolbar>

  <md-content class="md-padding" layout="row" layout-align="center center" ng-cloak>
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <thead>
          <tr>
            <td colspan="9">
              <span>
                Search: <input ng-model="accountCtrl.queryCriteria.name" />
                status: <input ng-model="accountCtrl.queryCriteria.status" />
                role: <input ng-model="accountCtrl.queryCriteria.role" />
              </span>
              <span flex></span>
              <span><md-button class="md-primary" ng-click="accountCtrl.doQuery()">Query</md-button></span>
            </td>
          </tr>
          <tr>
            <th></th>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th class="mdl-data-table__cell--non-numeric">Email</th>
            <th class="mdl-data-table__cell--non-numeric">Status</th>
            <th class="mdl-data-table__cell--non-numeric">Roles</th>
            <th>Last Visit</th>
            <th>Since</th>
            <th>Modifed</th>
            <th class="mdl-data-table__cell--non-numeric">Action</th>
          </tr>
      </thead>
      <tbody>
        <tr class="ng-cloack" ng-repeat="account in accountCtrl.accounts">
            <td><img ng-show="account.imageUrl != undefined" src={{account.imageUrl}} width="50px" /></td>
            <td><a href="#/account/{{account.uuid}}" ><span ng-bind="account.displayName" /></a></td>
            <td>{{account.primaryEmail}}</td>
            <td>{{account.status}}</td>
            <td>{{account.roles}}</td>
            <td>{{account.lastLogin | date:'shortDate'}}</td>
            <td>{{account.createdAt | date:'shortDate'}}</td>
            <td>{{account.modifiedAt | date:'shortDate'}}</td>
            <td>
              <a href="#/account/{{account.uuid}}/form" >Edit</a>
              <a ng-click="accountCtrl.remove(account)" >Delete</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="8" style="text-align: center">
          <span  ng-repeat="n in [].constructor(accountCtrl.queryResult.numPages) track by $index">
            <a ng-click="accountCtrl.goToPage($index)" class="md-raised md-primary">{{$index + 1}}</a>
          </span>
        </td>
      </tr>
    </tfoot>
    </table>
  </md-content>
</div>
