<!doctype html>
<html ng-app="adminApp">
  <head>
    <!-- material design lite -->
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.js"></script>

    <!-- Angular Material Javascript now available via Google CDN  -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    
    <!-- Custom JS -->
    <script src="js/ecofy-core-auth.js"></script>
    <script src="js/ecofy-core-reference.js"></script>
    <script src="js/ecofy-account.js"></script>
    <script src="js/admin-app.js"></script>
    <script src="js/admin-controllers.js"></script>

    <link rel="stylesheet" href="css/main.css">
  </head>
  <body class="ng-cloack" ng-controller="FrameController as frameCtrl">

    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Ecofy Identity - Admin</h2>
            <span flex></span>
            <!--<md-icon md-svg-src="img/icons/ic_person_black_24px.svg"></md-icon>-->
            {{ frameCtrl.session.displayName }}

            <!-- Account Menu -->
            <md-menu>
                <md-button aria-label="Open account menu" class="md-icon-button" ng-click="$mdOpenMenu($event)" md-position-mode="target-right target">
                <img src="{{frameCtrl.session.imageUrl}}"  width="50px" />
                </md-button>
                <md-menu-content width="4">
                <md-menu-item>
                  <md-button ng-click="frameCtrl.showProfile()">
                    Account Profile
                  </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                  <md-button ng-click="frameCtrl.signout()">
                    Sign out
                  </md-button>
                </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>

    <div ng-view></div>

    <script type="text/javascript">
    angular.element(document).ready(function () {
        componentHandler.upgradeAllRegistered();
    });
    </script>
  </body>
</html>
